table {
    margin: 6px;
    border: 4px blueviolet solid;
    background-color: aliceblue;
    border-collapse: collapse;
    color: black;
}

td, th, tr {
    padding: 4px;
}

.blocked {
    background-color: #ffbbbb;
}

.blocked .button {
    background-color: #ff8888;
}

td {
    border: 1px solid #5e5e5e;
    border-right: 2px;
}

th {
    border: 2px solid #373737;
}

.button {
    width: inherit;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 10px;
}

div .outer {
    /*width: 100%;*/
    display: flex;
}

div .inner {
    flex: 1;
    /*display: inline-block;*/
    margin: 15px;
    padding: 15px;
}

input {
    margin: auto;
}

#submit {
    margin: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}