<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>/pages/index.jsp</welcome-file>
    </welcome-file-list>

    <!--Index-->
    <!--<servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/pages/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

    <!-- Accounts List -->
    <servlet>
        <servlet-name>AccountsList</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.AccountsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountsList</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <!-- New Account -->
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.NewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/account/new</url-pattern>
    </servlet-mapping>

    <!-- Single Account Info -->
    <servlet>
        <servlet-name>SingleAccount</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.SingleAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleAccount</servlet-name>
        <url-pattern>/account/single</url-pattern>
    </servlet-mapping>

    <!-- User Info Update -->
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/account/update</url-pattern>
    </servlet-mapping>

    <!-- resource mapping -->
    <!--<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->
</web-app>
