<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Archetype Created Web Application</display-name>

    <!--<welcome-file-list>
        <welcome-file>/resources/pages/index.jsp</welcome-file>
    </welcome-file-list>-->

    <!--Index-->
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/resources/pages/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Accounts List -->
    <servlet>
        <servlet-name>AccountsList</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.AccountsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountsList</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>

    <!-- New Account -->
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.NewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/a/new</url-pattern>
    </servlet-mapping>

    <!-- Single Account Info -->
    <servlet>
        <servlet-name>SingleAccount</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.SingleAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleAccount</servlet-name>
        <url-pattern>/a/s</url-pattern>
    </servlet-mapping>

    <!-- User Info Update -->
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>by.kolbun.andersen.web.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/a/u</url-pattern>
    </servlet-mapping>

    <!-- resource mapping -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/static/css/*</url-pattern>
    </servlet-mapping>
</web-app>
